@page "/produtos"

@using BarDG.Web.Data
@inject ProdutoData _produtoData

<h1>Produtos</h1>

<p>Lista de produtos disponíveis</p>

@if (produtos == null)
{
    <p><em>Carregando...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Descrição</th>
                <th>Valor</th>
                <th>Numero Maximo de itens na comanda</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var produto in produtos)
            {
            <tr>
                <td>@produto.Id</td>
                <td>@produto.Descricao</td>
                <td>@produto.Valor.ToString("C")</td>
                <td>@produto.CompraMaxima</td>
            </tr>
            }
        </tbody>
    </table>
}

@code {
    private Domain.Entity.Produto[] produtos;

    protected override async Task OnInitializedAsync()
    {
        produtos = await _produtoData.GetAllProdutos();
    }
}
